html {
	background: black url(../images/background.png) repeat;
}

.box {
	background: #363636;
	color: #fff;
}

.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
	color: #fff;
}

.footer {
	background: #363636;
	color: #fff;
}

.main-content {
	position: relative;
	overflow: hidden;
	background: rgba(54, 54, 54, 0.9);
}

.tentacle {
	position: absolute;
	width: 40%;
	opacity: 0.2;
}

.tentacle-1 {
	bottom: -5%;
	right: 10%;
}

.tentacle-2 {
	top: 30%;
	right: -5%;
}

.tentacle-3 {
	top: 5%;
	left: -5%;
}
